<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>CRUD OPERATION USING FLASK AND MYSQL</h1>
    <h4>
        {% with messages= get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </h4>
    <p><a href="{{url_for('addusers')}}">Add Users</a></p>
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>AGE</td>
            <td>CITY</td>
            <td>EDIT</td>
            <td>DELETE</td>
        </tr>
        {% for data in datas %}
            <tr>
                <td>
                    {{data.ID}}
                </td>
                <td> {{data.NAME}} </td>
                <td> {{data.AGE }}</td>
                <td> {{data.CITY}}</td>
                <td><a href="{{url_for('editusers',id = data.ID)}}">Edit</a></td>
                <td><a onclick="return confirm('Are you sure to delete?')" href="{{url_for('deleteuser',id= data.ID)}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>